@page
@model BestPrices.Site.Pages.Users.RegisterModel
@{
    if (Model.User == null || !Model.User.IsVerified)
        ViewData["Title"] = "Switch account - Register";
    else
        ViewData["Title"] = "Register";
}
<div class="text-center">
    <h1 class="display-4,text">@ViewData["Title"]</h1>
</div>

<form method="post">
    <div class="text-sm-center mt-5">
        <div class="row mt-2">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <p>E-mail</p>
                <input type="email" class="form-control" asp-for="email" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <p>Username</p>
                <input type="text" class="form-control" asp-for="username" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <p>Password</p>
                <input type="password" class="form-control" asp-for="Password" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <p>Confirm password</p>
                <input type="password" class="form-control" asp-for="ConfirmedPassword" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <input type="submit" class="btn btn-block btn-primary" value="Register" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <label>Do you already have an account? <a asp-page="/users/login">Log in</a></label>
            </div>
        </div>

        @if (Model.IsSended)
        {
            <div class="alert alert-success" role="alert">
                Email sended successfully. View at your email address to complete the registration
            </div>
        }

        else if(!Model.IsFirstOpen)
        {
            <div class="alert alert-danger" role="alert">
                Something has gone wrong sending the email. Unable to complete the registration
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.ErrorText))
        {
            <div class="alert alert-danger" role="alert">
                <p>@Model.ErrorText</p>
            </div>
        }
    </div>
</form>