@page
@model BestPrices.Site.Pages.Users.SigninModel
@{
    ViewData["Title"] = "Sign in";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<form method="post">
    <div class="text-sm-center mt-5">
        <div class="row mt-2">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <b>E-mail</b>
                <input type="email" class="form-control" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <b>Password</b>
                <input type="password" class="form-control" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <b>Confirm password</b>
                <input type="password" class="form-control" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <input type="submit" class="btn btn-block btn-primary" value="Sign in" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <label>Do you already have an account? <a asp-page="/users/login">Log in</a></label>
            </div>
        </div>
    </div>

</form>