@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.User != null)
{
    <div class="text-center">
        <h1 class="display-4">Welcome @Model.User.Username on BestPrices</h1>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome on BestPrices</h1>
        <p class="mt-5"><a href="/users/register">Become a User</a> for a best experience on BestPrices</p>
    </div>
}